body {
	background-color: lightblue;
}
button {
	margin: 5px;
}
h3, h1 {
	text-align: center;
}
p {
	font-size: 15px;
}
li {
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 1.5em;
}
#randomSearch {
	font-size: 20px;
	width: 320px;
	margin: 40px auto;
	padding: 5px;
}
#searchField {
	font-size: 30px;
	width: 320px;
	margin: 40px auto;
	padding: 5px;
}
#articleSection {
	font-size: 20px;
	width: 900px;
	margin: 10px auto;
	padding: 5px;
	color: white;
}
.searchField {
	text-align: center;
	font-size: 30px;
	width: 320px;
	margin: 100px auto;
	padding: 5px;
}
